<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mbsbahru.roboboat2016_barunastra"
    android:versionCode="1"
    android:versionName="1.01">

    <!-- Required Permissions -->
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-feature android:name="android.hardware.camera" android:required="false"/>
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false"/>

    <!-- Supported Screens -->
    <supports-screens
        android:resizeable="true"
        android:smallScreens="true"
        android:normalScreens="true"
        android:largeScreens="true"
        android:anyDensity="true" />

    <!-- Minimum and Target SDK Versions -->
    <uses-sdk
        android:minSdkVersion="21"
        android:targetSdkVersion="33" />

    <!-- Hardware Features -->
    <uses-feature android:name="android.hardware.camera.any" android:required="true"/>
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false"/>
    <uses-feature android:name="android.hardware.camera.front" android:required="false"/>
    <uses-feature android:name="android.hardware.camera.front.autofocus" android:required="false"/>
    <uses-feature android:name="android.hardware.sensor.accelerometer" android:required="true" />
    <uses-feature android:name="android.hardware.sensor.gyroscope" android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
        android:hardwareAccelerated="true"
        android:largeHeap="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:label="@string/app_name"
        android:supportsRtl="true" >

        <!-- Main Activity -->
        <activity android:name=".SeekBarVal11"
            android:screenOrientation="landscape"
            android:configChanges="keyboardHidden|orientation"
            android:multiprocess="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".SeekBarVal12"
            android:screenOrientation="landscape"
            android:configChanges="keyboardHidden|orientation"
            android:exported="true"/>

        <activity android:name=".SeekBarVal21"
            android:screenOrientation="landscape"
            android:configChanges="keyboardHidden|orientation"
            android:exported="true"/>

        <activity android:name=".SeekBarVal22"
            android:screenOrientation="landscape"
            android:configChanges="keyboardHidden|orientation"
            android:exported="true"/>

        <activity android:name=".SeekBarVal23"
            android:screenOrientation="landscape"
            android:configChanges="keyboardHidden|orientation"
            android:exported="true"/>

        <activity android:name=".SeekBarVal24"
            android:screenOrientation="landscape"
            android:configChanges="keyboardHidden|orientation"
            android:exported="true"/>

        <activity android:name=".SeekBarVal25"
            android:screenOrientation="landscape"
            android:configChanges="keyboardHidden|orientation"
            android:exported="true"/>

        <activity android:name=".SeekBarVal31"
            android:screenOrientation="landscape"
            android:configChanges="keyboardHidden|orientation"
            android:exported="true"/>

        <activity android:name=".SeekBarVal32"
            android:screenOrientation="landscape"
            android:configChanges="keyboardHidden|orientation"
            android:exported="true"/>

        <activity android:name=".SeekBarVal33"
            android:screenOrientation="landscape"
            android:configChanges="keyboardHidden|orientation"
            android:exported="true"/>

        <activity android:name=".SeekBarVal34"
            android:screenOrientation="landscape"
            android:configChanges="keyboardHidden|orientation"
            android:exported="true"/>

        <activity android:name=".SeekBarVal41"
            android:screenOrientation="landscape"
            android:configChanges="keyboardHidden|orientation"
            android:exported="true"/>

        <activity android:name=".BluetoothConf"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:exported="true"/>

        <activity android:name=".MainActivity"
            android:screenOrientation="landscape"
            android:configChanges="keyboardHidden|orientation"
            android:multiprocess="true"
            android:exported="true"/>
    </application>
</manifest>
